<div class="row justify-content-center">
    <h1>Alta de libro</h1>
    <div class="col-md-6 col-lg-4 bg-primary rounded  ">
        <form action="/nuevoLibro" method="POST">
        <div class="mb-3">
            <label for="titulo" class="form-label text-white mt-3" >Titulo</label>
            <input type="text" class="form-control" name="titulo" id="titulo">
        </div>

        <div class="mb-3" >

            <label for="autor" class="form-label text-white mt-3" >Autor</label>
            <input type="text" class="form-control" name="autor" id="autor">
        </div>
        <button type="submit" class="btn btn-success mt-2 mb-3" >Guardar</button>

        </form>
        
    </div>

</div>